<footer class="footer" role="contentinfo">
  <div class="footer__container">
    <div class="footer__social">
      @for (link of socialLinks; track link.name) {
        <a
          class="footer__social-link"
          [href]="link.url"
          [attr.aria-label]="link.ariaLabel | translate"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            [attr.viewBox]="link.viewBox"
            fill="currentColor"
            aria-hidden="true"
          >
            <path [attr.d]="link.svgPath" />
          </svg>
        </a>
      }
    </div>

    <p class="footer__copyright">
      &copy; {{ currentYear() }} Juan Enrique Morales Castro. {{ 'footer.copyright' | translate }}
    </p>

    <button
      type="button"
      class="footer__back-to-top"
      [attr.aria-label]="'footer.backToTop' | translate"
      (click)="scrollToTop()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        aria-hidden="true"
      >
        <polyline points="18 15 12 9 6 15" />
      </svg>
      <span>{{ 'footer.backToTop' | translate }}</span>
    </button>
  </div>
</footer>
